// Базовые цвета

$black:                       #1A1626;
$white:                       #ffffff;
$main-color:                  #4700FF;
$hover:                       #8000FF;
$default:                     #797683;
$background-color:            #F5F7FC;

// Типографика

$font-size:                   14px;
$line-height:                 24px;

$font-size-h1:                55px;
$font-size-h2:                45px;
$font-size-h3:                24px;
$font-size-h4:                18px;
$font-size-h5:                16px;